<!DOCTYPE html>
<html>
<head>
	<title>Arcobaleno Inc. Portfolio Site</title>
</head>
<body>
	<div>
		<%= link_to image_tag("rainbow.jpg", alt: "Rainbow", :class => 'rainbow') %>
	</div>

	<div class="container">
		<div class="left_box">
			<p>SEE OUR</p>
			<p>PORTFOLIO</p>
		</div>
		<div class="right_box">
			<p>MEET OUR</p>
			<p>TEAM</p>
		</div>
	</div>

</body>
</html>