<header class="header">
	<div class="left_header">
		<h1>ARCOBALENO, INC.</h1>
	</div>
	<div class="right_header">
		<ul class="top_nav_bar">
			<li class="links"><%= link_to "Home", '#' %></li> 
			<li class="links"><%= link_to "About", '#' %></li> 
		</ul>
	</div> 
</header>